# AAF VM set
 
### DB Cluster
# address=/db1n3.aaf.l.z5.io/192.168.56.4
 
### Ansible Master
# address=/master.aaf.l.z5.io/192.168.56.8
 
### Discovery
# address=/ds.aaf.l.z5.io/192.168.56.5
 
### Application Hosts
address=/.drupal.dev/33.33.33.10
