## /usr/local/etc/dnsmasq.conf
 
# Development VM addresses
conf-file=/Users/ethan/VMs/dev-vm-dns.conf
 
# Listen on local loopback
listen-address=127.0.0.1
 
# Listen on Virtualbox Gateway
listen-address=192.168.56.1
 
# Resolvers for external addresses
resolv-file=/etc/resolv.dnsmasq.conf
