## /etc/resolv.dnsmasq.conf
 
# DNS resolvers we want to use in order of preference
# Failover occurs when servers are uncontactable
 
# Google
nameserver 8.8.8.8
nameserver 8.8.4.4
 
# Add other forced DNS servers here
